.article__detail .article__top__img {
  text-align: center;
  width: 100%;
}

.article__detail .article__top__img img {
  width: 100%;
  object-fit: cover;
}

.article__detail .article__content {
  position: relative;
  background: #ffffff;
  top: -300px;
  left: 30%;
  width: 65%;
  padding-top: 5%;
  padding-left: 5%;
  margin-bottom: -300px;
}

.article__title {
  margin-bottom: 3em;
}
