header {
  width: minmax(0, 100%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3rem;
}

header .logo .title {
  display: block;
  font-size: 24px;
}

header .logo .subtitle {
  display: block;
}

header nav {
  width: auto;
  display: flex;
  text-align: center;
}

header nav #nav__menu {
  list-style: none;
  margin-bottom: auto;
  display: flex;
}

header nav #nav__menu .menu {
  position: relative;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

header nav #nav__menu .menu .menu__item {
  position: absolute;
  top: 10;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
  width: 10em;
  list-style: none;
  text-align: start;
  padding: 0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
}

header nav #nav__menu .menu .menu__item li {
  display: block;
  border-bottom: solid 1px #999999;
}

header nav #nav__menu .menu .menu__item li a {
  display: block;
}

header nav #nav__menu .menu:hover .menu__item {
  height: auto;
  opacity: 1;
}

header #search {
  position: relative;
  margin-top: auto;
  margin-bottom: 0;
  font-size: 24px;
}
