extends _layout.pug
block body
    link(rel="stylesheet", href=root+"dest/css/article.css")
    link(rel="stylesheet", href=root+"dest/css/form.css")
    .article__detail
        section.article__top__img
            img(src="https://placehold.it/2000x1000")
        section.article__content
            block article