<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js")
        script(src="https://code.jquery.com/jquery-3.3.1.js")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.1/css/all.css")
        link(rel="stylesheet", href="/dest/css/root.css")
        link(rel="stylesheet", href="/dest/css/test.css")
        link(rel="stylesheet", href="/dest/css/header.css")
        link(rel="stylesheet", href="/dest/css/footer.css")
        link(rel="stylesheet", href="/dest/css/style.css")
        link(rel="stylesheet", href="/dest/css/form.css")
        title Prarctice (Write)
    body(ontouchstart="")
        header
            .logo
                a.title(href="/") Write
                .subtitle 書くためのテーマ
            .barger
                input#barger__menu(type="checkbox", name="")
                label(for="barger__menu")
                    span
                nav
                    #nav__container
                        ul#nav__menu
                            li.menu
                                a#home ホーム
                                ul.menu__item
                                    li
                                        a → カスタマイズ
                            li.menu
                                a#page ページ
                                ul.menu__item
                                    li 
                                        a アイキャッチ画像なしのページ
                                    li 
                                        a ページ（全幅テンプレート）
                            li.menu
                                a(href="/typography/") タイポグラフィー
                            li.menu 
                                a(href="/contact/") お問い合わせ
                        #search
                            form(action="#", method="get")
                                .form__search__group(tabIndex='0')
                                    ion-icon(name="search")
                                    input.input__search(type="text", name="", placeholder="検索...")

        .body
            block body
        hr
        .footer__container
            .profile__container
                .profile__img
                    img(src="https://placehold.it/100x100")
                .profile__header
                    .profile__name お名前
                    ul.profile__social__list
                        li.profile__social__list__item
                            ion-icon(name="logo-twitter")
                        li.profile__social__list__item
                            ion-icon(name="logo-facebook")
                        li.profile__social__list__item
                            ion-icon(name="logo-instagram")
                .profile__content.
                    これはプロフィールウィジェットです。ここにはプロフィール画像・名前・自己紹介文・ソーシャルリンク（最大7つ）を設定することができます。
            .footer__block
                .footer__title フッター右
                .footer__content.
                    3つのフッター右ウィジェットエリアはフッターの右側に表示され、使用する数によって幅は自動的に調整されます。1つも使用しない場合は表示されません。
            .footer__block
                .footer__title 最近の投稿
                .footer__content
                    ul
                        for article in recentArticleList
                            li
                                .footer__article__title #{article.title}
                                .footer__article__date  #{article.date}
            .footer__block
                .footer__title カテゴリー
                .footer__content
                    ul
                        li サンプル投稿
                        li 投稿フォーマット
                        li 普通の投稿
                form(action="#", method="get")
                    input.input__search(type="text", name="", placeholder="検索...")
                
        hr
        .footer2
            .social__list
                ul.profile__social__list
                    li.profile__social__list__item
                        ion-icon(name="logo-twitter")
                    li.profile__social__list__item
                        ion-icon(name="logo-facebook")
                    li.profile__social__list__item
                        ion-icon(name="logo-instagram")
            .sign Powered by 模写 | Theme: Write by Themegraphy | 模写 by Shabaraba
            .dummy

                    
        //- script.
        //-     $(function() {
        //-         $('.form__search__group > button').click(function() {
        //-             console.log('click');
        //-             $(this).parent().find('input').show()
        //-         })
        //-     })