.Navbar {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: white;
}

.nav__item {
    margin: 10px;
}

.nav__item p {
    margin: 0;
    text-decoration: none;
    font-size: 12px;
}
