@media screen and (max-width: 768px) {
  .footer__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__container > * {
    display: block;
    margin-bottom: 30px;
  }
  .footer__container .input__search {
    width: 40%;
  }
  .footer2 {
    margin-bottom: 80px;
  }
  .footer2 > * {
    display: block;
  }
  .footer2 .social__list {
    width: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .footer__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
  }
  .footer2 {
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
  }
  .footer2 .social__list {
    width: 10%;
  }
}

.profile__container {
  display: grid;
  grid-template-columns: 120px 120px 1fr;
  grid-template-rows: auto auto;
}

.profile__container .profile__img img {
  clip-path: circle(48px at 50% 50%);
}

.profile__container .profile__header {
  margin-top: auto;
  margin-bottom: auto;
}

.profile__container .profile__header .profile__name {
  margin: 0;
}

.profile__container .profile__content {
  grid-column: 1 / 4;
}

.profile__social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.profile__social__list .profile__social__list__item {
  margin: 0;
  text-align: center;
}

.footer__block .footer__title {
  margin-bottom: 30px;
}

.footer__block .footer__content ul {
  list-style-type: none;
  padding-left: 0;
}

.footer__block .footer__content ul li {
  margin: 10px 0;
}
