.NewCard .card__image {
    width: 60px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-instagram {
    height: 60px;
}

.category-animation_sns {
    height: 60px;
}

.category-card {
    height: 40px;
}

.category-presentation {
    height: 30px;
}

.NewCard .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}