section
    .background.lite
    h1.circle ABOUT
    .section__content
        h2.section__title.lite ノマドエンジニア育成講座<br>iSara[イサラ]とは
        
        .container
            p.
                「 稼ぐこと 」にフォーカスした<br>Webエンジニア育成講座です。

        .borderbox.base
            p.
                稼げるエンジニアに必要な<br>5つのスキルとは？
            ul
                li 
                    span
                        img(src="https://isara.life/wp-content/themes/isara_v2/img/skill.jpg")
                    span
                        p 基礎的な<br>プログラミングスキル
                li
                    span
                        img(src="https://isara.life/wp-content/themes/isara_v2/img/sales.jpg")
                    span
                        p 案件獲得に必要な<br>営業力
                li
                    span
                        img(src="https://isara.life/wp-content/themes/isara_v2/img/document.jpg")
                    span
                        p 見積もり作成から<br>納品までの知識
                li
                    span
                        img(src="https://isara.life/wp-content/themes/isara_v2/img/plusone.jpg")
                    span
                        p 自分の付加価値を<br>高めるスキル
                li 
                    span
                        img(src="https://isara.life/wp-content/themes/isara_v2/img/connection.jpg")
                    span
                        p フリーランス同士の<br>横の繋がり
        .brank
