section
    .background.orange
    .section__content
        h2 
            |
            i.fa.fa-gift(aria-hidden="true")
            | iSara受講生への参加特典
        p.text__medium
            | 
            strong.text__reverse 講座費用258,000円以上の金額が稼げるまでの<br>「永久サポート延長」
            | を追加します。<br>
            | つまり、
            strong.text__reverse 実質０円
            | です。
        .brank
        .campaignbox
            p.campagin__title.
                iSaraは『実質0円』！！<br>更なる特典もあります。
            ol.campaign
                li 
                    p.text__start.text__medium 参加費以上の金額が稼げるまで「永久サポート」参加費用は実質0円です。
                li 
                    p.text__start.text__medium フリーランスエンジニアになる為の動画講義を無料プレゼント
                li 
                    p.text__start.text__medium フリーランス講師による個別コンサル（渡航前の週１回）
        .brank