section
    h2 
        |
        i.fa.fa-gift(aria-hidden="true")
        | iSara受講生への参加特典
    p 
        | 
            span.white 講座費用258,000円以上の金額が稼げるまでの<br>
            | 「永久サポート延長」
        | を追加します。
        | つまり、
            span.white 実質０円
        | です。
    .box
        p.box_title.
            iSaraは『実質0円』！！<br>更なる特典もあります。
        ol
            li 参加費以上の金額が稼げるまで「永久サポート」参加費用は実質0円です。
            li フリーランスエンジニアになる為の動画講義を無料プレゼント
            li フリーランス講師による個別コンサル（渡航前の週１回）