div
    .container
        p バンコクのノマドエンジニア育成講座、iSara[イサラ]
        p Copyright ©︎ iSara All Rights Reserved
        div
            ul
                li.twitter
                li.iine
                li.share

        p Designed by 
            |
            a(href="#") Maya Ogi
            | / Developed by 
            a(href="#") Kentaro Koga