footer
    .background.gray
    div
        p.text__small.
            バンコクのノマドエンジニア育成講座、iSara[イサラ]<br>
            Copyright ©︎ iSara All Rights Reserved
        ul.inline
            li
                a.twitter-share-button(href="https://twitter.com/share") ツイート
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            li <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fpractices.from-garage.work%2Fisara&width=150&layout=button&action=like&size=small&share=true&height=65&appId" width="150" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        p.text__small Designed by 
            |
            a(href="#") Maya Ogi
            | / Developed by 
            a(href="#") Kentaro Koga
