section
    .background.orange
    h2.text__head
        |
        i.far.fa-file-alt(aria-hidden="true")
        | 資料請求フォーム
    p.text__medium まずは無料で資料請求からどうぞ
    form.container.per80
        .form__group
            input#lastName(type="text", name="lastName", placeholder="姓")
        .form__group
            input#firstName(type="text", name="firstName", placeholder="名")
        .form__group
            input#email(type="email", name="email", placeholder="メールアドレス")
        .form__group
            textarea#questions(name="note", cols="90", rows="12", placeholder="質問などはこちら（空欄でもOKです）")
        .request__container
            button.request__button.lg
                p.content 送信
