section.fade__white
    h2 エンジニアとして<br>本当の自由を手に入れるためには？
    .container
        p.
            エンジニア需要の高まりに伴い、
            プログラミングスクールが増えています。
            しかしそこでの学習の先は、 
            提携して決められた就職先に就職すること。

        p.
            これで本当にいいのですか？
            日本人エンジニアはアメリカと較べて
            給料が格段に低い。 

        p.
            その理由がここにあり、 
            エンジニアは自分の給料を
            コントロールすべきなのです。

        p 
            | スキルを身につけたエンジニアは、 人生をコントロールすることでより自由に。 そこで必要なのが 
            strong 「稼ぐ力」
            | です。
    div.section__footer.white__fade
        img.background(src="https://placehold.it/1500x1500/93ff93/ffffff")