section.text__reverse
    img.background(src="https://isara.life/wp-content/themes/isara_v2/img/classbgsp.jpg")
    h2 iSara[イサラ]で学べる内容
    p.text__medium 渡航前の事前課題と渡航中に学べることの一覧です
    .container
        .list__container
            p.text__lerge 渡航前の事前学習
            ul.text__medium
                li 0から始めるプログラミング事前学習講座
                li 参加者グループコミュニティ
                li チャットサポート
                li 事前スカイプコンサル
                li 環境構築の事前学習
                li jQueryの事前学習講座
                li Bootstrapの事前講座
                li PHP / Mysqlの事前学習講座
                li 稼ぐためのHTML/CSS講座
                li WordPressの事前学習講座
        .list__container
            p.text__lerge バンコク渡航中
            ul.text__medium
                li フリーランス独立術講座
                li 実際の実務案件をこなす
                li ノマドフリーランス体験
                li バンコク生活体験
                li クラウドソーシング活用講座
                li フリーランスのための営業講座
    .area.blue
        strong.text__lerge
            講座費用258,000円以上の金額が稼げるまで「永久サポート延長」します。<br>つまりリスク0で参加できます。