section.text__reverse
    img.background(src="https://isara.life/wp-content/themes/isara_v2/img/teacherbgsp.jpg")
    .section__content
        h2
            |
            i.fa.fa-id-card-o(aria-hidden="true")
            |創業メンバー
        .container
            p.text__medium 実際にフリーランスとして活躍している<br>エンジニアが立ち上げました 
            .member__list
                div.brank
                div.memberbox
                    div.profile__image
                        img.image__circle(src="https://placehold.it/150x150/ffff93/ffffff")
                    div.profile
                        p.text__small フリーランス講師
                        p.text__small 染谷 佳佑
                    p.text__small.
                        ISARA (THAILAND) CO.,LTD.の代表です。学生起業の後にリクルートへ就職、その後独立し、海外移住しました。今はフリーランスとしてリモートワークで日本円を稼ぎ、外国通貨に変えて使い、海外を旅してます。営業、ブログPVアップ(最高月間150万PV)、ビジネス構築が専門です。

                div.brank
                div.memberbox
                    div.profile__image
                        img.image__circle(src="https://placehold.it/150x150/ffff93/ffffff")
                    div.profile
                        p.text__small フリーランス講師
                        p.text__small 成田 雄輝
                    p.text__small.
                        バンコクのシェアハウスのオーナーをやりながら一年の大半をタイで過ごしています。 大学時代から今に至るまでネットだけで生計を立てているので、自由歴だけは講師陣の中で最長です！ 母親がタイ人という事もありタイには精通してますので、こちらでの生活のサポートはお任せください！

                div.brank
                div.memberbox
                    div.profile__image
                        img.image__circle(src="https://placehold.it/150x150/ffff93/ffffff")
                    div.profile
                        p.text__small フリーランスエンジニア
                        p.text__small 坂内 学
                    p.text__small.
                        アドバイザーとして参画しました。新卒で海外就職して１１ヶ月後に退職。今は日本にいたり海外にいたりでゆるくフリーランスをしています。
                        <br><br>
                        お仕事はWebマーケティングとプログラミングが専門領域です。
                div.brank

    .section__footer.base