section
    h2.member 創業メンバー
    img.background(src="https://placehold.it/1500x1500/ffff93/ffffff")
    .container
        strong.tip 実際にフリーランスとして活躍している<br>エンジニアが立ち上げました 
        div.member
            div
                img(src="https://placehold.it/150x150/ffff93/ffffff")
                p フリーランス講師
                p 染谷 佳佑
            p.
                ISARA (THAILAND) CO.,LTD.の代表です。学生起業の後にリクルートへ就職、その後独立し、海外移住しました。今はフリーランスとしてリモートワークで日本円を稼ぎ、外国通貨に変えて使い、海外を旅してます。営業、ブログPVアップ(最高月間150万PV)、ビジネス構築が専門です。

        div.member
            div
                img(src="https://placehold.it/150x150/ffff93/ffffff")
                p フリーランス講師
                p 成田 雄輝
            p.
                バンコクのシェアハウスのオーナーをやりながら一年の大半をタイで過ごしています。 大学時代から今に至るまでネットだけで生計を立てているので、自由歴だけは講師陣の中で最長です！ 母親がタイ人という事もありタイには精通してますので、こちらでの生活のサポートはお任せください！

        div.member
            div
                img(src="https://placehold.it/150x150/ffff93/ffffff")
                p フリーランスエンジニア
                p 坂内 学
            p.
                アドバイザーとして参画しました。新卒で海外就職して１１ヶ月後に退職。今は日本にいたり海外にいたりでゆるくフリーランスをしています。
                <br><br>
                お仕事はWebマーケティングとプログラミングが専門領域です。