section
    .background.yellow
    h2.
        他のプログラミングスクールと<br>ここが違う！！<br>
        iSara[イサラ]の3つのメリット

    div
        img(src="https://placehold.it/1000x150/ffff93/ffffff")
        h3.orange 現役フリーランスから学べる
        p 他のプログラミングスクールとは違い、実際にフリーランスとして活動しているエンジニアが直接講師を勤めます。
    
    div
        img(src="https://placehold.it/1000x150/ffff93/ffffff")
        h3.orange 実践を通じて学べる
        p フリーランスにとって最短の学習方法は「実践」。iSaraでは実案件を通して学びます。現役フリーランサーの案件サポートに加え、クラウドソーシングを活用。初心者の自分じゃ無理と思うかもですが、現役フリーランスがサポートしますので大丈夫。

    div
        img(src="https://placehold.it/1000x150/ffff93/ffffff")
        h3.orange 授業料が実質0円
        p 講座費用258,000円以上の金額が稼げるまで「永久サポート延長」があります。

    .box
        h3.orange さらに！帰国後もサポート付き
        strong リモートワーカーのチームを作ることで<br>受注率、受注単価が大幅に向上します。
        strong.tip.
            iSaraは講座が終わって終了ではありません。<br>
            参加メンバーのチャットグループを作り、帰国後も継続的に案件参加できるようになります。また、チームで働くことで継続的に稼ぎやすい仕組みづくりも構築しております。
    
    p.
        事前課題ができない人はお断りしております。<br>
        iSaraでは、無料で学べるプログラミング基礎知識は教えません。事前課題一覧はメールで送りつつ、チャットサポートのみ。従って、本気で取り組まないと結果は出ません。