section
    .background.lite
    h2.section__title.
        他のプログラミングスクールと<br>ここが違う！！<br>
        iSara[イサラ]の3つのメリット

    div
        .section__image__header
            img.background(src="https://isara.life/wp-content/themes/isara_v2/img/learnfromfreelancer.jpg")
        .container.per80
            h3.marker__base 現役フリーランスから学べる
            p.text__medium  他のプログラミングスクールとは違い、実際にフリーランスとして活動しているエンジニアが直接講師を勤めます。
    
    div
        .section__image__header
            img.background(src="https://isara.life/wp-content/themes/isara_v2/img/learnfromprojects.jpg")
        .container.per80
            h3.marker__base 実践を通じて学べる
            p.text__medium  フリーランスにとって最短の学習方法は「実践」。iSaraでは実案件を通して学びます。現役フリーランサーの案件サポートに加え、クラウドソーシングを活用。初心者の自分じゃ無理と思うかもですが、現役フリーランスがサポートしますので大丈夫。

    div
        .section__image__header
            img.background(src="https://isara.life/wp-content/themes/isara_v2/img/actuallyfree.jpg")
        .container.per80
            h3.marker__base 授業料が実質0円
            p.text__medium 講座費用258,000円以上の金額が稼げるまで「永久サポート延長」があります。

    .borderbox
        h3.marker__base さらに！帰国後もサポート付き
        p.text__lerge リモートワーカーのチームを作ることで<br>受注率、受注単価が大幅に向上します。
        p.text__small.
            iSaraは講座が終わって終了ではありません。<br>
            参加メンバーのチャットグループを作り、帰国後も継続的に案件参加できるようになります。また、チームで働くことで継続的に稼ぎやすい仕組みづくりも構築しております。
    
    .area
        p.text__small.
            事前課題ができない人はお断りしております。<br>
            iSaraでは、無料で学べるプログラミング基礎知識は教えません。<br>
            事前課題一覧はメールで送りつつ、チャットサポートのみ。従って、本気で取り組まないと結果は出ません。