section
    h2.text__head 創業者からのメッセージ

    strong 「一生もののスキル」を身につけ、<br>ノマドライフを楽しもう！
    div.img__container
        img(src="https://placehold.it/500x400/ffff93/ffffff")
    div.container.per80.text__start
        p 初めまして。「iSara（イサラ）」創業者の染谷佳佑と申します。
        p iSaraの開講は、僕達講師陣にとってもとても大きな挑戦です。今回、参加者に圧倒的な価値提供をするために、超少人数制だからできる内容を用意しました。
        ul.normal__list
            li 「Webエンジニアとして稼ぐ」に特化した超実践的カリキュラム
            li フリーランスとして生計を立て、いつでも世界中を旅できるスキル、収入のある講師陣のみを厳選 
            li 講座参加者が25万8,000円の参加費以上を稼ぐまでの無期限サポート延長
        p ここまでのカリキュラムを備えた講座は、世界で唯一iSaraだけでしょう。 iSaraでプログラミングや営業を学ぶことで、「一生ものの潰しが効くスキル」が身につきます。 もちろん勉強だけでなく、バンコクを楽しめるプログラムも用意しています！
        p ３ヶ月間徹底的にサポートします。ぜひバンコクでお会いしましょう。
        