section
    img.background(src="https://placehold.it/1500x1500/ffff93/ffffff")
    h2 iSaraは<br>ボランティアではありません
    p.tip ここまでみると、実質０円で各種サポートもある、<br>特典が多すぎて逆に怪しい。そう思われるかもしれません。<br>しかし、iSaraが目指すことは異なります。
    strong 月10万円稼げる<br>エンジニアを輩出し続ける。
    p.
        最大の価値がこれです。<br>
        iSaraの卒業生が稼ぎ続けることで、<br>
        小さな経済が動き始めます。<br>
        ここに最大の価値があり、<br>
        この講座はその序章にすぎません。