section
    div
        h1 Q\&A
        h2 ノマドエンジニアとして自由に稼ぐことは<br>「 本当に 」可能なのか？
    p
        strong 実現可能です
    p
        strong.tip その証拠に第三者の声を聞いてみました。
        .tip *実際にフリーランスエンジニアを採用する企業様から、<br>メッセージをいただきました。
    ul
        li
            div
                img(src="https://placehold.it/150x150/ffff93/ffffff")
            div
                p リモートワークという言葉がありますが、弊社では何も気にしません。エンジニアに求めるのは、快適なコミュニケーションと信頼と成果物のみ。
                    |
                    small Kredo IT Abroad . Inc 代表取締役 横田 猛夫
        li
            div
                img(src="https://placehold.it/150x150/ffff93/ffffff")
            div
                p 社内でスキルのある人材を採用するのは難しい。外部パートナーとして継続的に依頼できるフリーランスには助かっています。
                    |
                    small SAPEUR . Inc 代表取締役 佐藤 陽
        li
            div
                img(src="https://placehold.it/150x150/ffff93/ffffff")
            div
                p プログラマーが足りていない時に外部リソースとして、フリーランスに発注しています。今はどこの会社でもエンジニアが不足していますね。
                    |
                    small 株式会社BeautifulWorks 代表取締役 浅田 百合
