section.fade__white
    h2 
        |
        i.fa.fa-envelope-open-o(aria-hidden="true")
        | よくある質問
    .container
        ul
            li
                label(for="faq_no1") プログラミングスキルは必要ですか？
                input#faq_no1(type="checkbox", name="faq_no1")
                div
                    p いいえ、必要ありません。しかし、iSaraでは参加費以上の金額が稼げることを保障しています。 従って、事前通話面談時点で簡単なテストを実施し、場合によってはお断りをしております。この点だけはご了承ください。
            li
                label(for="faq_no2") 参加費以上に稼げなかったらどうなりますか？
                input#faq_no2(type="checkbox", name="faq_no2")
                div
                    p 参加費である258,000円以上の金額をトータルで稼ぐまで、無期限でサポート延長いたします。（講座参加後、週30時間以上の実践をすることと、週１回の実践報告をすることが延長条件です。）きちんと学び実践すれば、フリーランスでも収入を作ることは十分に可能です。
            li
                label(for="faq_no3") 滞在中の宿泊先はどうなりますか？
                input#faq_no3(type="checkbox", name="faq_no3")
                div
                    p 宿泊費用が必要ですが、iSara提携のホステルに宿泊することになりますので心配はありません。
            li
                label(for="faq_no4") 滞在中の食事はどうなりますか？
                input#faq_no4(type="checkbox", name="faq_no4")
                div
                    p 拠点となる新築シェアハウスの周辺に、50バーツ程度の（160円）安価な飲食店が多数あります。 日本食レストランもありますし、出前を取ることも可能です。
            li
                label(for="faq_no5") 追加でかかる費用はありますか？
                input#faq_no5(type="checkbox", name="faq_no5")
                div
                    p 宿泊費（トータル20000円）と食費（一食150円程度）くらいです。
            li
                label(for="faq_no6") 就職、転職はできますか？
                input#faq_no6(type="checkbox", name="faq_no6")
                div
                    p DODAの調査によると、2017年のエンジニアの求人倍率は7.5倍です。これは、人材不足が叫ばれる医療業界（医師：6倍、看護師：3倍）よりも高い数値です。ですのできちんとしたスキルを身につけることができれば、就職・転職には困らないはずです。元リクルートの転職のプロも運営スタッフとして参加しています。
            li
                label(for="faq_no7") フリーランスにならなければならないのですか？
                input#faq_no7(type="checkbox", name="faq_no7")
                div
                    p いいえ、必ずフリーランスにならないといけないわけではありません。 実際に過去の卒業生の方の進路も、独立、副業として続ける、就職するなど様々です。
            li
                label(for="faq_no8") ノマドワーカー的に世界を旅しながら働きたいです。可能ですか？
                input#faq_no8(type="checkbox", name="faq_no8")
                div
                    p きちんと努力し、スキルを身に着けることができれば可能です。 iSaraは、「好きなときに働き、好きなときに遊ぶ」という人生を送れる人を増やすために開講しました。 ちなみに、講師は全員ノマドワーカーとして、働きながら自由に世界中を旅しています。
            li
                label(for="faq_no9") 学ぶプログラミング言語はなんですか？
                input#faq_no9(type="checkbox", name="faq_no9")
                div
                    p HTML / CSS / PHPを学びます。どの言語も需要が高いです。
            li
                label(for="faq_no10") 将来的にwebサービス、アプリ、メディアを作りたいです。
                input#faq_no10(type="checkbox", name="faq_no10")
                div
                    p 経験してる講師がいますよ。大丈夫です。
            li
                label(for="faq_no11") 次回開催の予定はありますか？
                input#faq_no11(type="checkbox", name="faq_no11")
                div
                    p 未定です。まずはお問い合わせください。
            li
                label(for="faq_no12") 海外に出るのが初めてで不安です。
                input#faq_no12(type="checkbox", name="faq_no12")
                div
                    p 講師陣が現地での生活をサポートしますので安心してください。ただしパスポート取得は必要です。
            li
                label(for="faq_no13") タイ語、英語が一切話せません。参加可能でしょうか。
                input#faq_no13(type="checkbox", name="faq_no13")
                div
                    p タイ語スタッフ、英語スタッフがいるのでOKです。日本人、タイ人スタッフがおりますので、期間中のトラブル対応の心配は必要ありません。
            li
                label(for="faq_no14") 治安はどうですか？
                input#faq_no14(type="checkbox", name="faq_no14")
                div
                    p バンコクは、東南アジアや南アジアの他の国の都市部と比べると、街中も整備されており、非常に治安の良い街です。日本ほどではないですが、世界でも非常に治安の良い国として知られています。
            li
                label(for="faq_no15") パソコンは必要ですか？
                input#faq_no15(type="checkbox", name="faq_no15")
                div
                    p はい。ノートPCのご用意が必要です。