section.fade__white
    .section__container
        h2 
            |
            i.far.fa-envelope-open(aria-hidden="true")
            | よくある質問
        .container.per80
            ul.accordion.white
                li
                    input#faq_no1.accordion__check(type="checkbox", name="faq_no1")
                    label.accordion__head(for="faq_no1") 
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge グラミングスキルは必要ですか？
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content#no1_show
                        p いいえ、必要ありません。しかし、iSaraでは参加費以上の金額が稼げることを保障しています。 従って、事前通話面談時点で簡単なテストを実施し、場合によってはお断りをしております。この点だけはご了承ください。
                li
                    input#faq_no2.accordion__check(type="checkbox", name="faq_no2")
                    label.accordion__head(for="faq_no2") 
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge 加費以上に稼げなかったらどうなりますか？
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p 参加費である258,000円以上の金額をトータルで稼ぐまで、無期限でサポート延長いたします。（講座参加後、週30時間以上の実践をすることと、週１回の実践報告をすることが延長条件です。）きちんと学び実践すれば、フリーランスでも収入を作ることは十分に可能です。
                li
                    input#faq_no3.accordion__check(type="checkbox", name="faq_no3")
                    label.accordion__head(for="faq_no3")
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge 滞在中の宿泊先はどうなりますか？
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p 宿泊費用が必要ですが、iSara提携のホステルに宿泊することになりますので心配はありません。
                li
                    input#faq_no4.accordion__check(type="checkbox", name="faq_no4")
                    label.accordion__head(for="faq_no4") 
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge 滞在中の食事はどうなりますか？
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p 拠点となる新築シェアハウスの周辺に、50バーツ程度の（160円）安価な飲食店が多数あります。 日本食レストランもありますし、出前を取ることも可能です。
                li
                    input#faq_no5.accordion__check(type="checkbox", name="faq_no5")
                    label.accordion__head(for="faq_no5") 
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge 追加でかかる費用はありますか？
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p 宿泊費（トータル20000円）と食費（一食150円程度）くらいです。
                li
                    input#faq_no6.accordion__check(type="checkbox", name="faq_no6")
                    label.accordion__head(for="faq_no6")
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge 就職、転職はできますか？
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p DODAの調査によると、2017年のエンジニアの求人倍率は7.5倍です。これは、人材不足が叫ばれる医療業界（医師：6倍、看護師：3倍）よりも高い数値です。ですのできちんとしたスキルを身につけることができれば、就職・転職には困らないはずです。元リクルートの転職のプロも運営スタッフとして参加しています。
                li
                    input#faq_no7.accordion__check(type="checkbox", name="faq_no7")
                    label.accordion__head(for="faq_no7")
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge フリーランスにならなければならないのですか？
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p いいえ、必ずフリーランスにならないといけないわけではありません。 実際に過去の卒業生の方の進路も、独立、副業として続ける、就職するなど様々です。
                li
                    input#faq_no8.accordion__check(type="checkbox", name="faq_no8")
                    label.accordion__head(for="faq_no8")
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge ノマドワーカー的に世界を旅しながら働きたいです。可能ですか？
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p きちんと努力し、スキルを身に着けることができれば可能です。 iSaraは、「好きなときに働き、好きなときに遊ぶ」という人生を送れる人を増やすために開講しました。 ちなみに、講師は全員ノマドワーカーとして、働きながら自由に世界中を旅しています。
                li
                    input#faq_no9.accordion__check(type="checkbox", name="faq_no9")
                    label.accordion__head(for="faq_no9")
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge 学ぶプログラミング言語はなんですか？
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p HTML / CSS / PHPを学びます。どの言語も需要が高いです。
                li
                    input#faq_no10.accordion__check(type="checkbox", name="faq_no10")
                    label.accordion__head(for="faq_no10")
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge 将来的にwebサービス、アプリ、メディアを作りたいです。
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p 経験してる講師がいますよ。大丈夫です。
                li
                    input#faq_no11.accordion__check(type="checkbox", name="faq_no11")
                    label.accordion__head(for="faq_no11")
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge 次回開催の予定はありますか？
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p 未定です。まずはお問い合わせください。
                li
                    input#faq_no12.accordion__check(type="checkbox", name="faq_no12")
                    label.accordion__head(for="faq_no12")
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge 海外に出るのが初めてで不安です。
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p 講師陣が現地での生活をサポートしますので安心してください。ただしパスポート取得は必要です。
                li
                    input#faq_no13.accordion__check(type="checkbox", name="faq_no13")
                    label.accordion__head(for="faq_no13")
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge タイ語、英語が一切話せません。参加可能でしょうか。
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p タイ語スタッフ、英語スタッフがいるのでOKです。日本人、タイ人スタッフがおりますので、期間中のトラブル対応の心配は必要ありません。
                li
                    input#faq_no14.accordion__check(type="checkbox", name="faq_no14")
                    label.accordion__head(for="faq_no14")
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge 治安はどうですか？
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p バンコクは、東南アジアや南アジアの他の国の都市部と比べると、街中も整備されており、非常に治安の良い街です。日本ほどではないですが、世界でも非常に治安の良い国として知られています。
                li
                    input#faq_no15.accordion__check(type="checkbox", name="faq_no15")
                    label.accordion__head(for="faq_no15")
                        div.accordion__title
                            i.fa.fa-question-circle
                            p.text__lerge パソコンは必要ですか？
                        i.fas.fa-angle-down.close__label
                        i.fas.fa-angle-up.open__label
                    div.accordion__content
                        p はい。ノートPCのご用意が必要です。