section
    .background.orange
    .section__content
        .container.text__reverse
            p まずは20日間で<br>月10万円稼げるスキルを手に入れよう。
            mark.danger ※ 受講料金は実質0円です。詳しくは資料請求をどうぞ。
            .request__container
                button.request__button.lg
                    p.content お問い合わせ&資料請求は<br>こちら
            p 第６期生：2019年11月25日 ~ 2019年12月14日 <br> ＊締め切りました
            p 第７期生：2020年2月17日 ~ 2020年3月7日 <br> ＊締め切りました
            p 第8期生：2021年内に開催予定 <br> ＊資料請求受付中です

            ul.inline
                li
                    a.twitter-share-button(href="https://twitter.com/share") ツイート
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                li <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fpractices.from-garage.work%2Fisara&width=150&layout=button&action=like&size=small&share=true&height=65&appId" width="150" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>