section.fade__white
    img.background(src="https://placehold.it/1500x1500/ffff93/ffffff")
    .container
        h3 iSaraで<br>「基本的なプログラミングスキル」<br>は教えません
        p 基本的なプログラミングスキルは無料で学べる時代。
        p 
            | iSaraでは、基礎知識学習は
            strong.yellow 事前課題
            | と
            strong.yellow チャットサポート
            | のみ。。
        ol.step
            li 【バンコク渡航前1ヶ月】<br>事前課題で基礎知識を学ぶ
            li 【バンコク到着後】<br>実践的に稼ぐことに特化した学習
            li 【バンコク帰国後】<br>講座実施後の案件獲得サポート
    .area.blue
        p.
            スキルアップしてもフリーランスエンジニア<br>
            として食べていくことは難しい。<br>
            フリーランスには プログラミングスキル以外が大切。
