section.text__reverse
    img.background(src="https://isara.life/wp-content/themes/isara_v2/img/aboutsecondbgsp.jpg")
    .container
        h2 iSaraで<br>「基本的なプログラミングスキル」は教えません
        p 基本的なプログラミングスキルは無料で学べる時代。
        p 
            | iSaraでは、基礎知識学習は<br>
            strong.marker__base 事前課題
            | と
            strong.marker__base チャットサポート
            | のみ。
        ol.step
            li 【バンコク渡航前1ヶ月】<br>事前課題で基礎知識を学ぶ
            li 【バンコク到着後】<br>実践的に稼ぐことに特化した学習
            li 【バンコク帰国後】<br>講座実施後の案件獲得サポート
    .area.blue.text__medium
        p スキルアップしてもフリーランスエンジニア<br>として食べていくことは難しい。<br>フリーランスには
            |
            strong.marker__base プログラミングスキル以外
            |が大切。
