section
    img.background(src="https://isara.life/wp-content/themes/isara_v2/img/mainsp.jpg")
    .container.per80
        div プログラミングで<br>人生の安定を手に入れよう
        .title
            img(src="https://isara.life/wp-content/themes/isara_v2/img/isaralogolarge.png")
        div バンコクのノマドエンジニア育成講座<br>iSara[イサラ]