section
    .section__content
        h2 iSara[イサラ]で学べること
        .container.per80
            p iSaraの学習では、エンジニアとして<br>「稼ぐ」ために必要な能力を身につけます。
            ul.inline.img__list
                li
                    img(src="https://isara.life/wp-content/themes/isara_v2/img/salesskill.jpg")
                li
                    img(src="https://isara.life/wp-content/themes/isara_v2/img/knowledge.jpg")
                li
                    img(src="https://isara.life/wp-content/themes/isara_v2/img/skillup.jpg")
                li
                    img(src="https://isara.life/wp-content/themes/isara_v2/img/freelanceconnection.jpg")

            p これらを教えるのがiSaraです。