section
    h2 iSara[イサラ]で学べること
    .container.per80
        p iSaraの学習では、エンジニアとして<br>「稼ぐ」ために必要な能力を身につけます。
        ul.inline
            li.circle 
                    div
                        //- img(src="https://isara.life/wp-content/themes/isara_v2/img/sales.jpg")
                        span 案件獲得に必要な<br>営業力
            li.circle
                    div
                        //- img(src="https://isara.life/wp-content/themes/isara_v2/img/document.jpg")
                        span 見積もり作成から<br>納品までの知識
            li.circle
                    div
                        //- img(src="https://isara.life/wp-content/themes/isara_v2/img/plusone.jpg")
                        span 自分の付加価値を<br>高めるスキル
            li.circle
                    div
                        //- img(src="https://isara.life/wp-content/themes/isara_v2/img/connection.jpg")
                        span フリーランス同士の<br>横の繋がり

        p これらを教えるのがiSaraです。