section.text__reverse
    h2.text__head なぜバンコクなのか？
    img.background(src="https://isara.life/wp-content/themes/isara_v2/img/bangkokbgsp.jpg")
    .container.per80.start__left
        p.text__small ここまで見ると、iSaraは日本でも実施可能に見えます。<br>しかし、バンコクを選んだのには理由があります。
        ul.normal__list
            li 
                p.text__medium プログラミングフリーランスの最先端
            li 
                p.text__medium 水準は日本と同じなのに、生活費が安い（毎月８万円ほど）
            li 
                p.text__medium 昼、夜共に遊びが充実（稼ぐモチベーションアップと息抜きにGOOD）
            li 
                p.text__medium 日本人が住みやすい（食事が美味しい / 気候が良い / 親日である）

        p.text__lerge 環境が大切。さらにこの価格が実現できるのが、バンコクなのです。