section
    h2 なぜバンコクなのか？
    img.background(src="https://placehold.it/1500x1500/ffff93/ffffff")
    .container
        p ここまで見ると、iSaraは日本でも実施可能に見えます。<br>しかし、バンコクを選んだのには理由があります。
        ul
            li プログラミングフリーランスの最先端
            li 水準は日本と同じなのに、生活費が安い（毎月８万円ほど）
            li 昼、夜共に遊びが充実（稼ぐモチベーションアップと息抜きにGOOD）
            li 日本人が住みやすい（食事が美味しい / 気候が良い / 親日である）

        p 環境が大切。さらにこの価格が実現できるのが、バンコクなのです。